@import "../../styles/vars.scss";

.button {
  background: none;

  &:hover:enabled,
  &:focus:enabled {
    outline: none;
    border: none;
  }

  .button_img {
    transition: all 0.3s ease-in-out;

    &:focus,
    &:hover {
      filter: brightness(0.4) saturate(4) contrast(1.5);
    }
  }
}
